.image_div {
  background-size: cover;
  // background-position: center;
  height: 60rem;
  height: clamp(60rem, 1.6vw, 73rem);
  width: 100%;
  border: none;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;

  &--cherry {
    background-image: url(../images/mobile/image-graphic-design.jpg);
    color: $color-dark-desaturated-cyan;
  }

  &--orange {
    background-image: url(../images/mobile/image-photography.jpg);
    color: $color-dark-blue;
  }

  &__header {
    font-size: 3rem;
    margin-bottom: 4rem;
  }

  &__text {
    font-family: "Barlow", sans-serif;
    font-size: 1.6rem;
    // font-weight: 600;
    line-height: 1.6;
    padding: 0 2rem;
    margin-bottom: 6rem;
  }
}
