html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow", sans-serif; // 600
  font-family: "Fraunces", serif; // 700, 900
  font-size: 1.8rem;
  line-height: 1;
  box-sizing: border-box;
}
